<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>More-Recipe</title>
<link rel="stylesheet"  href="styles.css" type="text/css"/>
 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <!--Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    <nav class="black">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><em>MR</em></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down" >
        <li><a href="index.html" class="" >Home</a></li>
         <li><a href="myprofile.html" class="">My profile</a></li>
          <li><a href="recipe.html" class="">Recipes</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
    <li><a href="index.html" class="" >Home</a></li>
         <li><a href="myprofile.html" class="">My profile</a></li>
          <li><a href="recipe.html" class="">Recipe</a></li>
      </ul>
    
    </div>
  </nav>
  <script>
    $(".button-collapse").sideNav();
  </script>
  <main>

     <div class="row">
      <div class="col s12 m4 l4"> </div>
    <div class="col s12 m4 m4"><button class="signbtn3">Add Recipe</button></div>

    <div class="col s12 m4 l4"> </div>
    </div>

  <div class="container">
      <form>
          <a href="#!" class="brand-logo"><em>MR</em></a>
        <input type="text" placeholder="Enter Name of Dish" name="Name" required=""  /><br>
        <input type="text" placeholder="Enter Ingredients" name="ingredient" required=""  /><br>
        <input type="text" placeholder="Enter Equipment" name="equipment" required=""  /><br>
  
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea"></textarea>
          <label>Write Review</label>
        </div>
      </div>
  <div class="s12 m2 l2"></div>
  
        <button class="signbtn" type="submit"><a href="prev.html">Post</a></button>
        </form>

  </div>
 
  
  

  </main>

  <center><footer class="page-footer black">
      
    <div class="footer-copyright">
      <div class="container"  id="footertext">
      	<span id='footertext'>© Copyright 2017. All rights reserved </span>
      </div>
    </div>
  </footer></center>
</body>
</html>