<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>More-Recipe</title>

 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet"  href="styles.css" type="text/css"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <!--Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    <nav class="black">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><em>MR</em></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down" >
         <li><a href="index.html" class="">Home</a></li>
          <li><a href="recipe.html" class="">Recipe</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="index.html" class="">Home</a></li>
         <li><a href="recipe.html" class="">Recipe</a></li>
      </ul>
    
    </div>
  </nav>
  <script>
    $(".button-collapse").sideNav();
  </script>
<main>
  
   <!-- slide -->
   <div class="container" id="slidess">
     <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/4.jpg" class="responsive-img"/> 
        <div class="caption center-align">
          <h3><div id="featured">Most Favourited Recipes</div></h3>
          <h4 class="light grey-text text-lighten-3">Andela Bootcamp.com.</h4>
        </div>
      </li>
      <li>
        <img src="images/egusiandfufu.jpg"> 
        <div class="caption center-align">
          <h3>egusi soup and fufu: By Charles</h3>
          
        </div>
      </li>
      <li>
        <img src="images/yumi.jpg"> 
        <div class="caption left-align">
          <h3>Yumi sandwich By :peyton</h3>
          
        </div>
      </li>
      <li>
        <img src="images/por.jpg"> 
        <div class="caption right-align">
          <h3>Porridge By: David</h3>
          
        </div>
      </li>
      <li>
        <img src="images/Jollof-Rice.jpg"> 
        <div class="caption center-align">
          <h3>Jollof Rice By: Moses</h3>
          
        </div>
      </li>
      <li>
        <img src="images/beanpota.jpg"> 
        <div class="caption center-align">
          <h3>Beans and corn Porridge By: Sasha</h3>
          
        </div>
      </li>
      <li>
        <img src="images/catfish.jpg"> 
        <div class="caption center-align">
          <h3>catfish pepper soup By: Sasha</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="images/ofada-rice-sauce.jpg"> 
        <div class="caption center-align">
          <h3>Ofada rice sause  By: Kingsley</h3>
          
        </div>
      </li>
      <li>
        <img src="images/Ogbono1.jpg"> 
        <div class="caption center-align">
          <h3>Obono soup  By: Sarah</h3>
          
        </div>
      </li>
      <li>
        <img src="images/Edikaikong.jpg"> 
        <div class="caption center-align">
          <h3>Edikaikong  By: Daniella</h3>
          
        </div>
      </li>
    </ul>
  </div>
   <script>
   $(document).ready(function(){
      $('.slider').slider();
    });
    </script>
      <!-- end -->
      
  </div>
  <div class="container">
  <nav class="white">
        <div class="nav-wrapper">  
            <ul class="hide-on-med-and-down right">               
                <li>    
                
                        <div class="row" id="topbarsearch">
                          <div class="input-field col s12 l12  red-text">
                            <i class="red-text material-icons prefix">search</i>
                            <input type="text" placeholder="search for Recipes" id="autocomplete-input" class="autocomplete red-text" >
                            </div>
                          </div>
                                
                  </li>                     
            </ul>
        </div>
      </nav> 
      </div>
 

  <div class="row">
      <div class="col s12 m4 l4"> </div>
    <div class="col s12 m4 m4"><button class="signbtn2">Main catalog</button></div>

    <div class="col s12 m4 l4"> </div>
    </div>
  <div class="row">
    <div class="col s12 m2 l2"></div>
  <div class="col s12 m4 l4" ><img src="images/Jollof-Rice.jpg" />
  <div class="lay"><a href="recipe.html">Jollof-Rice by daniella</a></div>
  </div>
  
  <div class="col s12 m4 l4"><img src="images/Jollof-Rice.jpg" />
  <div class="lay"><a href="recipe.html">Jollof-Rice by Dauda</a></div>
  </div>
  <div class="col s12 m2 l2"></div>
  </div>

  <div class="row">
    <div class="col s12 m2 l2"></div>
  <div class="col s12 m6 l4"><img src="images/dataa.jpg" />
  <div class="lay"><a href="recipe.html">OMaop by gabriel</a></div>
  </div>
  
  <div class="col s12 m4 l4"><img src="images/dataa.jpg" />
  <div class="lay"><a href="recipe.html">OMaop by anah</a></div>
  </div>
  <div class="col s12 m2 l2"></div>
   </div>

   <div class="row">
     <div class="col s12 m2 l2"></div>
  <div class="col s12 m4 l4"><img src="images/BiltongStew.jpg" />
  <div class="lay"><a href="recipe.html">Biltong stew by daniella</a></div>
  </div>
  
  <div class="col s12 m4 l4"><img src="images/BiltongStew.jpg" />
  <div class="lay"><a href="recipe.html">Biltong Stew by Aisha</a></div>
  </div>
  <div class="col s12 m2 l2"></div>
   </div>
   
   <div class="row">
     <div class="col s12 m2 l2"></div>
  <div class="col s12 m4 l4"><img src="images/borros.jpg" />
  <div class="lay"><a href="recipe.html">boros by daniella</a></div>
  </div>
  
  <div class="col s12 m4 l4"><img src="images/borros.jpg" />
  <div class="lay"><a href="#">borros by Mariam</a></div>
  </div>
  <div class="col s12 m2 l2"></div>
   </div>
  

  
    <div class="row">
      <div class="col s12 m4 l4"> </div>
    <div class="col s12 m4 m4"><button class="signbtn2">Show more</button></div>

    <div class="col s12 m4 l4"> </div>
    </div>
 
</main>
   <footer class="page-footer black">
       
    <div class="footer-copyright" id="footertext">
      <div class="container">
      	© Copyright 2017. All rights reserved
      </div>
    </div>
  </footer>

</body>
</html>