<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>More-Recipe</title>
<link rel="stylesheet"  href="styles.css" type="text/css"/>
 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <!--Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Edit profile</a></li>
  <li><a href="#!">logout</a></li>
  <li class="divider"></li>
  <li><a href="#!">Recipe</a></li>
</ul>
  <ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Edit profile</a></li>
  <li><a href="#!">logout</a></li>
  <li class="divider"></li>
  <li><a href="#!">Recipe</a></li>
</ul>
    <nav class="black">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><em>MR</em></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down" >
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><img src="images/male.png" width="40" class="circle responsive-img"/><i class="material-icons right"></i></a></li>
        <li><a href="index.html" class="" >Home</a></li>
         <li><a href="addRecipe.html" class="">Add Recipe</a></li>
          <li><a href="catalog.html" class="">Catalog</a></li>
          
      </ul>
      <ul class="side-nav" id="mobile-demo">
         <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><img src="images/male.png" width="40" class="circle responsive-img" /><i class="material-icons right"></i></a></li>
    <li><a href="index.html" class="" >Home</a></li>
         <li><a href="addRecipe.html" class="">Add Recipe</a></li>
          <li><a href="catalog.html" class="">Catalog</a></li>
          
          
      </ul>
    
    </div>
  </nav>
  <script>
    $(".button-collapse").sideNav();
  </script>
  <main>
   <div class="row">
      <div class="col s12 m4 l4"> </div>
      <div class="col s12 m4 m4"><img src="images/male.png" class="profile"/></div>

    <div class="col s12 m4 l4"> </div>
    </div>
    <div class="container">
    <table class="responsive-table" class="striped">
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Country</th>
              <th>Intrest</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Habib</td>
            <td>Audu</td>
            <td>HBA</td>
            <td>auduhabib1990@gmail.com</td>
            <td>Nigeria</td>
            <td>web,software</td>
          </tr>
        </tbody>
         </table>
         </div>
         
         <div class="row">
      <div class="col s12 m4 l4"> </div>
    <div class="col s12 m4 m4"><div class="text"><h5>Favorite Recipes</h5></div>

    <div class="col s12 m4 l4"> </div>
    </div>
    </div>
    <div class="row">
      
      <div class="col s12 m3 l3"><img src="images/Jollof-Rice.jpg" />
      <div class="lay"><a href="recipe.html">Jollof-Rice by daniella</a></div> </div>
      <div class="col s12 m3 m3">
        <img src="images/Jollof-Rice.jpg" />
     <div class="lay"><a href="recipe.html">Jollof-Rice by Dauda</a></div>
      </div>
      <div class="col s12 m3 l3"><img src="images/Jollof-Rice.jpg" />
  <div class="lay"><a href="recipe.html">OMaop by gabriel</a></div> </div>
      <div class="col s12 m3 m3"><img src="images/Jollof-Rice.jpg" />
  <div class="lay"><a href="recipe.html">Biltong stew by daniella</a></div> </div>

    </div>
    </div>

  </main>
  <!-- foter -->
   <center><footer class="page-footer black">
      
    <div class="footer-copyright">
      <div class="container"  id="footertext">
      	<span id='footertext'>© Copyright 2017. All rights reserved </span>
      </div>
    </div>
  </footer></center>


  
</body>
</html>