<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>More-Recipe</title>
<link rel="stylesheet"  href="styles.css" type="text/css"/>
 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>
    <!--Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    <nav class="black">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><em>MR</em></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down" >
         <li><a href="index.html" class="">Home</a></li>
         <li><a href="catalog.html" class="">Catalog</a></li>
         <li><a href="addRecipe.html" class="">Add Recipe</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="index.html" class="">Home</a></li>
         <li><a href="catalog.html" class="">Catalog</a></li>
         <li><a href="addRecipe.html" class="">Add Recipe</a></li>
      </ul>
    
    </div>
  </nav>
  <script>
    $(".button-collapse").sideNav();
  </script>
    <div class="row"  id="main">
  <div class="col s12 m4 l4">
      <div id="ingredient">
      <em>Ingredients</em>
      <ul>
<li>2 cigar cups | 500g long grain parboiled rice</li>
Vegetable Oil
<li>Chicken (whole chicken or chicken drumsticks)
100g pork bits </li>
<li>1 tablespoon Nigerian curry powder (NOT Indian Curry)</li>
<li>1 handful green beans and green peas</li>
<li>1 handful diced carrots</li>
<li>1 handful sweet corn</li>
<li>3 tablespoons diced red bell pepper (NOT tatashe)
Salt (to taste)</li>
</ul>
  </div>
  </div>
  <div class="col s12 m4 l4"><img class="responsive-img" src="images/friedrice.jpg"></div>
  <div class="col s12 m4 l4">

      <div id="equipment">
      <em>Equipment</em>
      <ul>
<li>non-stick frying pan or wot</li>
<li>statula</li>
<li>Chopping board</li>
<li>sharp knives</li>
  </div>
  </div>
</div>

<div class="row">
    <div class="col s12 m7 l7"> 
          <div id="instructions" class="center-align">
  <em>instructions</em>
  <p>Heat your pan until it is very hot. Add your oil to the pan and swirl it around until the pan is coated. Pour out any excess oil.</p>

<p>Beat your eggs with a fork until the yolk and whites are mixed then pour them into the hot pan.</p>

<p>When the egg is cooked, add the rice to the pan and start moving the egg and rice around so that it is always moving and doesn't have a chance to stick to the pan. 
Use your ladle or spoon to "beat" the rice so the grains start to separate and begin to be coated with egg.</p>

<p>Add the salt and chicken stock powder and mix well. It's important to make sure these flavours are evenly distributed.</p>


<p>Add the cooked meat and vegetables and keep moving the ingredients around in the pan until they are all mixed well.
 Continue doing this for another minute or two until all the ingredients are heated through and the fried rice is hot.
  The rice should now have a lovely yellow colour from the egg. Toss through the spring onions and serve.</p>
  <br>BY : frank edwards.</br> </br>

  <img src="images/up.jpg"  class="svote1" title="upvote"/>
 <img src="images/down.jpg" class="svote2" title="downvote"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo2.jpg"   title="rate" width="20"/>
 
 </br></br>
  <div>
    <form>
<input type="text" placeholder="Write the title of your review" name="review" required=""  /><br>
        <textarea id="icon_prefix2" class="materialize-textarea" >
        </textarea>
        <button class="signbtn" type="submit">Post</button>
        </form>
        </div>

        

  </div>
    </div>
    <div class="col s12 m2 l2"></div>
     <div class="col s12 m3 l3">
         <div id="featured">Featured Recipes</div>
         <img src="images/ogbono1.jpg" /> 
     <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="rate" width="20"/>
     <a href="#">Obgbono by daniella</a> 
     <img src="images/Jollof-Rice.jpg" />
     <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo2.jpg"   title="rate" width="20"/>
 <img src="images/favo2.jpg"   title="rate" width="20"/>
     <a href="#">Jollof-Rice by Dauda</a>
     <img src="images/dataa.jpg" />
     <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo.jpg"   title="Favorite This" width="20"/>
 <img src="images/favo2.jpg"   title="rate" width="20"/>
 <img src="images/favo2.jpg"   title="rate" width="20"/>
     <a href="#">ladet by anah</a>
     </div>  
    
</div>

<div class="row">
      <div class="col s12 m4 l4"> </div>
    <div class="col s12 m4 m4"><button class="signbtn2"><a href="viewreview.html">View Reviews</a></button></div>

    <div class="col s12 m4 l4"> </div>
    </div>

   <footer class="page-footer black">
    <div class="footer-copyright">
      <div class="container">
      	© Copyright 2017. All rights reserved
      </div>
    </div>
  </footer>

</body>
</html>